<!-- layout 부분에 들어갈 것들 -->
{% extends 'layout.html' %}

<!-- content 부분.  -->
{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      <!-- user.Followings에 값이 있으면 -->
      {% if user.Followings %}
      <!-- following에 user.Follwings의 값을 하나씩 넣음 -->
        {% for following in user.Followings %}
        <!-- following의 nick 을 불러옴 -->
          <div>{{following.nick}}</div>
          <!-- for 문 끝 -->
        {% endfor %}
        <!-- if 문 끝 -->
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      <!-- user.Floowers에 값이 있다면 -->
      {% if user.Followers %}
      <!-- follower에 user.Followers의 값을 하나씩 넣음 -->
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
          <!-- for 문 끝 -->
        {% endfor %}
        <!-- if 문 끝 -->
      {% endif %}
    </div>
  </div>
  <!-- content 부분 끝 -->
{% endblock %}