{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      <div class="twits">
        {% for introduction in introductions %}
          <div class="twit" for="twitPost">
              <div class="twit-title" >
                
                  <div class="twit-author">{{introduction.title}}</div>
                  <hr>
                  
              </div>
              
              <div class="twit-content">{{introduction.content}}</div>
              {% if user.id === 1 %}
              <form action="/introduction/alter" method="get">
                <button id = "twit-btn" type="submit" class="btn">수정</button>
                <input type="hidden" value="{{introduction.id}}" name="postId">
              </form>

              <form action="/introduction/delete" method="get">
                <button id = "twit-btn" type="submit" class="btn">삭제</button>
                <input type="hidden" value="{{introduction.id}}" name="postId">
              </form>
              {% endif %}
              
            </form>
            {% if introduction.img %}
              <div class="twit-img"><img src="{{introduction.img}}" alt="섬네일"></div>
            {% endif %}

            
          </div>
          
          
        {% endfor %}

        {% if user.id === 1 %}
        <form action="/introduction/create" method="get">
          <button id = "twit-btn" type="submit" class="btn">작성</button>
        </form>
          
        {% endif %}
        

      
        
      </div>
    </div>
{% endblock %}

