{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">

    <div>
        <form id="twit-form" action="/profileAlter/alter" method="post">
          
          <div class="input-group">
            <textarea id="twit" name="content" maxlength="140">{{user.introduction}}</textarea>
          </div>
          
          <div>
            <button id="twit-btn" type="submit" class="btn">입력</button>
            
          </div>
        </form>
      </div>
    

  </div>
{% endblock %}
